<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="./js/style.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="wrapper ">
        <div class="container box-chat bg-white">
            <div class="d-flex w-100 h-100">
                <div class="left d-flex flex-column ">
                    <div class="left-content">
                        <div class="d-flex user-nav ">
                            <div class="user-avatar">
                                <div class="user-icon ">
                                    <img src="./img/avatar_1.png" alt="">
                                </div>
                            </div>
                            <div class="nav-name">
                                <a class="nav-name-contact text-capitalize">Andrew</a>
                            </div>
                            <div class="icon d-flex w-100 justify-content-end">
                                <div class=" m-1">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </div>
                                <div class=" m-1 ">
                                    <i class="fa-solid fa-message"></i>
                                </div>
                                <div class=" m-1 ">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-alert ">
                        <div class="d-flex p-2 ">
                            <div class="alert-icon text-center fs-4 bg-white">
                                
                                <i class="fa-solid fa-bell-slash"></i>
                                
                            </div>
                            <div class="txt-alert">
                                <a class="txt-alert-contact">Ricevi notifiche di nuovi messaggi</a>
                                <span class="contact-alert">Attiva notifiche desktop</span>
                            </div>
                        </div>
                    </div>
                    <div class="searchBox-inner mt-0">
                        <div class="form-group">
                            <input id="searchText" @keyup="searchResult" type="text" class="form-control" name="searchText" placeholder="Search" v-model.trim="searchName">
                        </div>
                    </div>

                <!-- da qui devo usare un ciclo v-for  -->
                    <div class="contact-list bg-white overflow-y-auto">
                        <div class="contact-height d-flex align-items-center border-top " v-for="(contact,id) in contacts" :key="contact.id" :class="{'d-none': !contact.visible, 'active' : id === this.currentId}" @click="idSelector(contact.id)">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <div class="user-avatar">
                                    <div class="user-icon ">
                                        <img :src='(contacts[id].avatar)' alt="">
                                    </div>
                                </div>
                                <div class="contact-name d-flex flex-column align-items-start w-100 align-content-start  pb-3   overflow-hidden">
                                    <a class="contact-name-font">{{contacts[id].name}}</a>
                                    <span class="contact-lastmess text-nowrap">{{contact?.messages[contact.messages.length-1].message || ''}}</span>
                                </div>
                                <div class="icons d-flex w-100 justify-content-end">
                                    <div class="m-1">
                                        <span class="contact-lastmess">{{contact?.messages[contact.messages.length-1].date || ''}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="chatboard d-flex flex-column border-start g-0 ">
                    <div class="chat-nav d-flex align-items-center justify-content-between w-100">
                        <div class="user-avatar me-4">
                            <div class="user-icon ">
                                <img :src='(contacts[currentId].avatar)' alt="">
                            </div>
                            
                        </div>
                        <div class=" nav-name d-flex flex-column align-items-start w-100 align-content-start  pb-3   overflow-hidden">
                                <a class="nav-name-contact p-0">{{contacts[currentId].name}}</a>
                                <span class="contact-status w-100">{{this.typing}}</span>
                        </div>
                        <div class="d-flex w-100 h-100 justify-content-end">
                            <div class="icon m-1">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="icon m-1 ">
                                <i class="fa-solid fa-paperclip"></i>
                            </div>
                            <div class="icon m-1 ">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <div class="chat ">
                        <div v-for="(msg,index) in contacts[currentId].messages" :key="index" class="message-body">
                            <div :class="'message-main-' + msg.status">
                                <div :class="msg.status">
                                    <div class="message-text"> 
                                        <span>{{msg.message}}</span>
                                    </div> 
                                    <span class="message-time pull-right">{{contacts[currentId].messages[index].date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-reply d-flex align-items-center frame-bg py-2 m-0">
                        <div class="emoji position-relative px-3">
                            <i class="fa-regular fa-face-smile" @click="showEmoji=!showEmoji"></i>
                            <Picker @select="onSelectEmoji" class="emojibox" :class="{'d-none' : !showEmoji}"/> 
                        </div>
                        <div class="w-100">
                            <input @keyup.enter="addMessage(currentId)" id="sendMessage" v-model.trim="inputMess" type="text" class="form-control" name="sendMessage" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="audiorec px-3"><i class="fa-solid fa-microphone"></i></div>
                        <div @click="addMessage(currentId)" class="sendicon pe-3"><i class="fa-solid fa-paper-plane"></i></div>
                    </div>
                </div>    
                
            </div>
        </div>
    </div>
    
    
    

    <script src="./js/vue.global.js"></script>
    <script src="./js/emoji-picker.js" type="module"></script>
    <script type="text/javascript" src="./js/utility.js"></script>
    <script src="./js/script.js" type="module"></script>
</body>
</html>